<h2 class="screen-align">Newscreen</h2>
<form id="template-i9vk" class="form gp-form-control">
    <div id="template-i7pp" class="form-group">
        <label id="template-ioyo" class="label">Name</label>
        <input placeholder="Type here your name" id="template-ib2m"
        [(ngModel)]="sample.name" [ngModelOptions]="{standalone: true}" class="input gp-input-text"
        />
    </div>
    <div id="template-iinb3" class="form-group">
        <button type="submit" id="template-io3a1" (click)="GpCreate()" class="button">Send</button>
    </div>
</form>